/* Global styles */
* { 
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0,
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Header */
.app-header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0d1c2b;
}

#burger-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  padding-left: 20px;
}

.burger-icon-bar1, .burger-icon-bar2, .burger-icon-bar3 {
  width: 32px;
  height: 4px;
  background-color: #fcfcfc;
  margin: 6px 0;
  transition: 0.4s;
}

#burger-icon.open .burger-icon-bar1 {
  transform: rotate(-45deg) translate(-9px, 7px) ;
}

#burger-icon.open .burger-icon-bar2 {
  opacity: 0;
}

#burger-icon.open .burger-icon-bar3 {
  transform: rotate(45deg) translate(-7px, -6px) ;
}

.app-title {
  color: #fcfcfc;
  font-weight: 200;  
  font-size: 1.6rem;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

/* Main */
main {
  display: flex;
  height: calc(100vh - 110px);
}

/* Sidebar */
#sidebar {
  width: 280px;
  background-color: #13293d;
  display: none;
}  

#sidebar.open {
  display: flex;
  flex-direction: column;
  animation: showNav 300ms ease-out both;

}

.filter {
  margin: 20px;
}

.filter select {
  height: 30px;
  width: 200px;
  font-size: 14px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.places-list {
  padding: 0;
  overflow-y: scroll;
}

.places-list li {
  color: #fcfcfc;
  line-height: 1.8;
  padding: 16px 20px;
}

.places-list li:hover {	
  cursor: pointer;	
  background-color: #028090;	
  transition: all 0.3s ease-in;	
}

@keyframes showNav {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Map */
#map {
  height: 100%;
  flex-grow: 1;
}

.info-window {
  width: 260px;
  height: 80px;
  display: flex;
  margin-top: 4px;
}

.info-window img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  background: #f9f9f9;
}

.info-window-details {
  padding-left: 10px;
}

.info-window-title {
  margin: 0 0 5px;
}

.info-window-details li {
  padding: 5px 0 4px;
}

/* Footer */
footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d1c2b;
}

footer img {
  height: 40px;
}