/* Global styles */
* { 
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Header */
.app-header {
  height: 60px;
  background-color: #0d1c2b;
}

#burger-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  padding: 11px 20px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fcfcfc;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.app-title {
  color: #fcfcfc;
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}


/* Main */
main {
  display: flex;
  height: calc(100vh - 60px);
}

/* Sidebar */
#sidebar {
  width: 280px;
  background-color: #13293d;
  display: none;
  overflow-y: scroll;
}  

#sidebar.open {
  display: block;
}

.filter {
  margin: 20px;
}

.filter select {
  height: 30px;
  width: 200px;
  font-size: 14px;
}

.places-list {
  padding: 0;
}

.places-list li {
  color: #fcfcfc;
  padding: 20px;
}

.places-list li:hover {
  cursor: pointer;
  color: #028090;
  font-weight: bold;
}


/* Map */

.map-container {
  flex-grow: 1;
}

.map {
  height: calc(100vh - 60px) !important;
}

.info-window {
  width: 200px;
  height: 80px;
}

.info-window-title {
  margin: 5px 0;
}

.info-window-details li {
  padding: 5px 0;
}